fastapi == 0.114.1
fastapi-limiter == 0.1.6
uvicorn == 0.30.6
pydantic-settings == 2.5.2
SQLAlchemy == 2.0.34
psycopg2-binary == 2.9.9
alembic == 1.13.2
pgvector == 0.3.3
passlib == 1.7.4
python-multipart == 0.0.9
bcrypt == 4.2.0
asyncpg == 0.29.0
sentence-transformers == 3.0.1
transformers == 4.44.2
pandas == 2.2.2
tqdm == 4.66.5
nltk == 3.9.1
tiktoken == 0.7.0
pypdf2 == 3.0.1
python-jose == 3.3.0
pycryptodome == 3.20.0
aiofiles == 24.1.0