<!DOCTYPE html>
<html>
<head>
    <title>Images</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="/">Стрічка</a>
            <a href="/images/rate">Рейтинг</a>
        </div>
        <div class="profile-icon">
            <a href="/profile"><i class="fas fa-user"></i></a>
        </div>
    </div>
    <div class="container">
        <h1>404</h1>
    </div>
</body>
</html>
